header {
    background-color: #222;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantém os ícones na direita */
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

header h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #00e0ff;
    cursor: pointer;
    transition: 0.3s;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    font-size: 1.5rem;
    color: #00e0ff;
    transition: 0.2s ease-in-out;
}

header nav a:hover {
    color: #fff;
    transform: scale(1.1);
}